[user]
  name = shigeyuki.fujishima
  email = shigeyuki.fujishima@gmail.com
[color]
  # colorの設定(以下のコマンドは自動で色つける)
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = true
[core]
  excludesfile = ~/.gitignore  # globalな.gitignoreの指定
  autocrlf = input                 # CRLFを自動変換
  editor = /Applications/MacVim.app/Contents/MacOS/Vim
  quotepath = false
[merge]
  tool = vimdiff
  ff = false

[http]
  sslVerify = false

[alias]
  co = checkout
  st = status
  br = branch
  ci = commit
[push]
  default = simple
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[diff]
  tool = vimdiff
  algorithm = histogram
  # external = git_diff_wrapper
# [pager]
#   diff=
