; https://github.com/nitso/colour-mysql-console
; if disables, "SET SQL_SAFE_UPDATES=0;"
[mysql]
pager  = grcat ~/.grcat | less -MQRSFXWin -P'?f%f .?ltLine %lt:?pt%pt\%:?btByte %bt:-...'
no-auto-rehash
show-warnings
safe-updates
